#left{height:0px}
a:hover {
    text-decoration: none!important;
}
div#main-content > div[style="overflow:visible"],.remains-footer:empty {display: none;}
a.button1, a.button2, button.button2, input.button1, input.button2 {
    background-color: var(--fondo1);
    background-image: none;
    background-position: top;
    background-repeat: repeat-x;
    color: #fafafa;
    overflow: visible;
    padding: 5px 20px!important;
    width: auto!important;
    background: var(--acento1);
    font-size: .65rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: var(--fuente2);
}
.t-pequeñosa {display: flex;}
.sceditor-container .sceditor-button {border: var(--border)!important;}
.sceditor-button.active, .sceditor-button:active, .sceditor-button:hover {
    background: var(--acento1)!important;
    color: var(--fondo1)!important;
}
span.new-message:before,.navbar-b,a#fa_notifications  span#notif_unread,.navbar-b .links-n .nuevnav a, .solo-desconectar li #logout{  display:flex;align-items:center;}
span.new-message:before,.navbar-b,a#fa_notifications  span#notif_unread,.navbar-b .links-n .nuevnav a, .solo-desconectar li #logout  {justify-content: center;}
span.new-message:before {
    content: "!";
    font-size: 12px;
    color: var(--fondo1);
    font-weight: 900;
    position: absolute;
    background: var(--acento2);
    width: 20px;
    height: 20px;
    border-radius: 180px;
    padding: 1px;
    border: var(--border);
}
#logout {
    font-size: 0px!important;
}
.msjn{background:var(--acento1);}
a#fa_notifications {
    cursor: pointer;
  position:relative;
}
span#notif_unread {
    font-size: 12px;
    color: var(--acento1);
    margin-left: 4px;
}
li.see_all a {
    color: #fafafa;
}
span#notif_unread:empty {
    opacity: 0;
}
.t-tema {
    display: flex;
    align-items: center;
    border: var(--border);
    background: var(--fondo1);
    justify-content: space-between;
}
.remtb-ultimos {
    overflow: auto;
    max-height: 247px;
    display: grid;
    gap: 5px;
    padding: 15px;
    box-sizing: border-box;
}
.tt-des {
    height: 100%;
    border-left: var(--border);
    background: var(--fondo2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px;
    box-sizing: border-box;
    min-width: 70px;
    width: 70px;
}
.tt-tit {
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .66rem;
    letter-spacing: .5px;
    line-height: 10px;
    text-align: left;
}
.tt-des > * {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: var(--border);
    border-radius: 100%;
    border-color: var(--acento1);
    color: var(--acento1);
    font-size: .5rem;
}
div#notification-fa {
    position: fixed;
    top: 60px;
    z-index: 4;
    z-index: 9099999!important;
    right: 10px;
}
#notif_list > li:not(:last-child) {
    padding: 10px;
    font-size: .7rem;
    font-weight: 400;
    letter-spacing: .5px;
}
#notif_list > li:not(:last-child):not(:first-child) {
    border-top: var(--border);
    border-color: var(--acento1);
}
#notif_list > li:not(:last-child) a {
    font-weight: 600;
    letter-spacing: 0;
}
#notif_list > li.unread {
    margin: 5px;
    border-left: var(--border);
    border-color: var(--acento1);
}
#notif_list .delete:after{
    content:"x";
    border:var(--border);
    border-color:var(--acento1);
    border-radius:100%;
    width:15px;
    min-width: 15px;
    height:15px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:9px;
    color:var(--color);
}
#notif_list .delete:hover:after{color:var(--acento1);}
#notif_list > li:not(:last-child) .content {
    display: flex;
    align-items: center;
    gap: 10px;
}
span#notif_unread {
    font-size: 9px;
    background: var(--accent);
    position: absolute;
    right: -3px;
    bottom: -8px;
    color: #fff;
    padding: 1px 4px;
    border-radius: 4px;
    font-weight: 500;
    letter-spacing: .05em;
}
.notif_award {
    width: 20px;
    height: 20px;
    position: relative;
}
span#notif_unread:empty {
    opacity: 0;
}
a#logout, .solo-desconectar {
    font-size: 0;
}
#fa_right {
    float: right;
    height: 20px;
    opacity: 0;
    transition: .4s ease-out;
    width: 370px;
    background: rgb(var(--background-1));
    border: var(--border-opacity);
    font-size: calc(var(--fntsize-nrm)*0.9);
    text-transform: uppercase;
    font-weight: 600;
    overflow: hidden;
}
.fa_tbMainElement.notification {
    height: auto!important;
    opacity: 1!important;
    padding:10px;
}
  div#fa_menu {
    display: none;
}
#notif_list .see_all {
    height: 25px;
    border-top: var(--border);
    background: var(--acento2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: .6rem;
    letter-spacing: 1px;
    border-top-color:var(--acento1);
}
.notification {
    border: 10px solid var(--fondo1)!important;
    background: var(--fondo1)!important;
    margin-top: 5px;
    outline: var(--border);
    outline-color: var(--acento1);
    outline-offset: -10px;
    padding: 0!important;
}
.welcom {
    border-bottom: var(--border);
    border-color: var(--acento1);
    background: var(--acento2);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 30px;
    padding: 0 20px;
    gap: 10px;
    color:#fafafa;
}
  div#fa_toolbar {
    display: none!important;
}
select {
    font-weight: 400;
    cursor: pointer;
    vertical-align: middle;
    padding: 1px;
    background-color: var(--fondo1);
    text-transform: uppercase;
    font-size: .6rem;
    color: #aaa;
}
#s-m-t-tooltip {
    max-width: 350px;
    z-index: 10;
    margin: 24px 14px 7px 12px;
    padding: 8px;
    background: var(--fondo1);
    font-family: var(--fuente2);
    font-size: 12px;
    line-height: 16px;
    color: var(--color);
    border: var(--border);
    text-transform:uppercase; font-weight:600;
}   
select {
    border: var(--border);
    background: var(--fondo1);
    color: var(--color1);
    font-size: 12px;
    padding: 2px 10px;
    font-family: var(--fuente2);
}
#page-footer p.copyright strong {
    margin: 0;
    display: block;
}

.copyright strong {
    text-align: center;
    background: var(--fondo1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    line-height: 10px;
    font-size: .7rem;
    margin-block: 0;
    text-transform: uppercase;
    padding: 15px;
    border: var(--border);
}
#page-footer .navbar {
    margin-bottom: 50px;
    border: var(--border);
    font-size: .6rem;
    color: var(--color1);
    background: var(--fondo2);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .5px;
    padding: 5px 10px;
}
.navbar li strong, .navbar li a {
    font-size: 10px;
    padding: 1px;
    font-weight: 600 !important;
    opacity: .65;
}
.navbar li a:before {
    content: "/";
    padding-right: 5px;
    color: var(--color);
    opacity: .4;
}
/****************************************************/
a:hover{text-decoration:none;}
input[type="checkbox" i] {
    accent-color: var(--acento1);
    background-color: field;
    border: var(--border);
}
.chatbox-title, .chatbox-title a.chat-title {
    color: #!important;
    font-family: var(--fuente1);
}
a, a:visited, a:active, a:focus{color:var(--acento1);}
::selection{background:var(--acento1); color:#fafafa;}
#fa_toolbar{display:none;}
div#main {overflow: visible!important;}
::-webkit-scrollbar {
    width: 8px !important;
    height: 5px !important;
    background: var(--fondo1);
    border-left: var(--border);
}
.jqmWindow h1 {
    font-family: var(--fuente2);
    font-weight: 900;
    color: var(--acento1);
    border-bottom: var(--border);
    padding: 10px;
}
.jqmWindow, #find_username {
    background: var(--fondo1);
    border: var(--border);
    color: var(--color);
    border-radius: 10px;
    padding: 10px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient( 40deg, var(--gradient1),var(--gradient2));
}
#chatbox_channels .member-title, #chatbox_members .member-title {
    background-image: none;
    color: #fff;
    font-size: 12px;
    padding: 0.5em 0.25em;
text-align: center;}
#chatbox{color:#888; font-family:Arial;font-size: 13px;}
.chatbox-members{background: #141414;;height:240px;height:100%;}
body.chatbox{background:#161616;font-family:Arial;}
#chatbox_header{background: #101010;border-bottom: 1px solid #222;height: 29px;}
#chatbox_footer{height: 25px; background: #111; border-top: 1px solid #222; color: #aaa; font-size: 12px;}
a.chat-title{font-family: monospace; color: #444; font-weight: 900; font-size: 19px; padding-left: 10px;}
#nb-users-connected{background-color: transparent; padding: 0px 6px 6px 10px; border-radius: 0; margin: 0 5px; color: #444;}
ul#chatbox_main_options a{color: #aaa; font-family: monospace; text-transform: uppercase; font-size: 11px;}
div#chatbox_footer label[for="message"]{text-transform: uppercase; font-weight: 900; font-size: 11px; padding: 0px 5px; font-family: monospace;}
div#chatbox_footer input[type="submit"]{border: 1px solid #222; background: #222; color: #aaa!important; padding: 3px 26px 19px; text-transform: uppercase; font-weight: 900; font-family: monospace;}
#chatbox_footer label{background: #333; border: 1px solid #444; color: #aaa!important; padding: 2px; box-shadow: none;}
.format-message + label, #chatbox_footer #divcolor, #chatbox_footer #divsmilies, #chatbox_footer #help-button{background: #333!important; border: 1px solid #444!important; color: #000!important; padding: 2px; box-shadow: none!important;}
input {
    background: var(--fondo1);
    border: var(--border)!important;
    border-radius: 4px;
    color: var(--color1);
}
span.corners-bottom, span.corners-top {display: none;}
.conteneur_minwidth_IE:after {
    content: "";
    height: 20px;
    width: 100%;
    display: block;
}

.postbody .content > a {
    border-bottom:2px solid var(--accent);
  font-weight:600;
}
/*******************************************/
.n-links {
    flex-wrap: wrap;
    padding: 0 20px;
    width: 440px;
    height: 72px;
}
.n-url > a:after {
    content: "\f054";
    padding-left: 10px;
    font-family: 'Font Awesome 5 Free';
}
.n-url > a {
    font-size: 11px;
    width: max-content;
    margin: 0px 10px;
}
.n-url {
    background: var(--fondo1);
    border: var(--border);
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
    bottom: -27px;
    font-family: var(--fuente2);
    padding: 4px 20px;
    position: absolute;
    font-size: 0;
    display: flex;
}
/************ CITAR EDITAR CODE SPOILER ******/
blockquote {
    border: var(--border);
    color: var(--color1);
    padding: 20px 0;
    margin: 10px;
    background-color: var(--fondo2);
    border-radius: 0;
    padding-right: 20px;
}

blockquote blockquote {
    background-color: var(--fondo2);
    font-size: 1rem;
    margin: 0.5em 1px 0 15px;}

input:focus-visible {
    outline: 1px solid var(--acento2);
}
#tabs a span {
    padding: 2px!important;
    font-weight:700px;
}
#cp-main {
    border: var(--border);
    border-color: var(--acento1);
    margin: 10px;
}
dt label{font-weight:400;}
fieldset.submit-buttons {
    padding: 10px;
    background: var(--acento2);
    margin: 0;
}
.panel > .inner > fieldset > dl > dt, fieldset dl:hover dt label {
    color: var(--color1)!important;
    font-family: var(--fuente2);
    font-size: .8rem;
}
blockquote cite {
    font-size: .9em;
    font-style: normal;
    background: var(--fondo1);
    margin: -20px -20px 20px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 800;
    color:var(--acento1);
    letter-spacing: .5px;
    border-bottom: var(--border);
}
dl.codebox dt {
    border-bottom: var(--border);
    color: var(--acento1);
    display: block;
    font-size: 11px;
    font-weight: 800;
    margin-bottom: 3px;
    padding: 8px 20px;
    background: var(--fondo1);
}
span.selectCode {
    border: 1px solid var(--acento1);
    padding: 0 10px;
    cursor: pointer;
}
dl.codebox {
    border: var(--border);
    font-size: 12px;
    padding: 0px;
  margin:10px;
  background: var(--fondo2);
}
dl.codebox code {
    color: var(--color1);
    display: block;
    font-size: 12px;
    padding: 5px 20px;
}
.spoiler_content.hidden {
    display: block;
    padding: 10px 20px;
}
.codebox.hidecode dt:before {
    content: "\f21b";
    font-family: 'Font Awesome 5 Free';
    font-size: 50px;
    opacity: .2;
}
.codebox.hidecode dt {
    height: 20px;
    border-bottom: var(--border)!important;
    overflow: hidden;
}
.codebox.hidecode dd {
    padding: 10px;
    color: var(--color1);
}
dl.codebox dt span {float:right;}
/*************** Pagination ***********************/
.paginas-fs > span > a:last-child {
    margin-left: 9px;
}
.paginas-fs > a {
    font-size: 11px;
}
.paginas-fs {
    font-size: 0;
}
.paginas-fs > span > strong,.barra-actions > div:last-child span > strong {color: var(--acento1);margin-top:1px;}
.boton-fs > a {
    border: var(--border);
    border-radius: 5px;
    font-size: 9px;
    font-weight: 900;
    margin-right: 10px;
    padding: 5px 20px;
    text-transform: uppercase;
}
.paginas-fs > span,.barra-actions > div:last-child span {
    font-size: 0;
    margin-left: 10px;
}
.pagination span a, .pagination span a:link, .pagination span a:visited, .pagination span a:active {
    display: inline-flex;
    width: 25px;
    height: 25px;
    border: var(--border);
    align-items: center;
    justify-content: center;
    background: var(--fondo1);
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
    color: var(--acento1);
}

.paginas-fs > span > strong, .paginas-fs > span > a:not(:last-child), .barra-actions > div:last-child span a:not(.pag-img), .pagination span strong, .pagination span a:link:not(.pag-img) {
    display: inline-flex;
    width: 25px;
    height: 25px;
    border: var(--border);
    align-items: center;
    justify-content: center;
    background: var(--fondo1);
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
    color: var(--acento1);
}
.pagination > span > strong {
    color: var(--color-icons);
    font-weight: 800;
}
p.pagination {
    margin-bottom: 0;
    font-size: 0;
}
.boton-fs > a:empty {
    display: none;
}
.btlist-nomest .pagination span a,.barra-actions > div:last-child span a:not(.pag-img) {
    border: var(--border)!important;
    color: var(--color)!important;
    font-size: 10px!important;
    padding: 0px 2px!important;
    border-radius: 4px;
    background: var(--fondo2);
}
.pagination span a.pag-img {
    position: relative;
    top: 4px;
}
.btlist-nomest .pagination span a:hover,.barra-actions > div:last-child > span a:hover {
    border-color: var(--acento1)!important;
}
.autor-tem strong {font-weight: 900;!important}
#content-container div#main {
    margin-bottom: 0;
}
#page-footer p.copyright strong:empty{display:none;}
#tabs {
    line-height: normal;
    margin: 0px;
    border: var(--border);
    padding: 15px;
    border-bottom: 0;
    background: var(--fondot);
    margin-bottom: 0px;
}
div#tabs > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}
#tabs li {
    flex-grow: 1;
    border: var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    background: var(--fondo1);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5px;
    font-size: .65rem;
}
li.activetab a {
    color: var(--color1);
    font-weight: 400;
    letter-spacing: 2px;
    opacity: .4;
}
.panel.row3 {
    border: var(--border);
    background: var(--fondo1);
    margin-top: 0px;
    padding: 0;
}
h1.page-title {
    margin: 0!important;
    font-family: var(--fuente1);
    font-weight: 500;
    color: #fafafa;
    padding: 10px!important;
    background: var(--acento2);
    border-bottom: 1px solid var(--acento1)!important;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .85rem;
}
.panel > .inner > fieldset > dl > dd > input {
    margin-bottom: 15px;
    margin-left: 10px;
    padding: 4px 10px;
}
h1.page-tit {
    background: var(--fondo1);
    border-bottom: var(--border);
    font-family: var(--fuente1);
    font-size: 24px;
    margin: -22px 11px 50px -15px;
    padding: 40px 30px;
    width: 1070px;
}
.panel > .inner > fieldset > dl {
    border: var(--border);
    margin: 10px 0;
    background: var(--fondo2);
    padding: 15px;
    font-size: .8rem;
}
fieldset dl {
    padding: 4px 0;
}
#cp-main .panel:not(:last-child) {
    border-bottom: 1px solid var(--acento1);
    margin-bottom: 0;
}

#cp-main .panel {
    padding: 20px;
    font-size: .74rem;
    color: var(--color);
}
#tabs {
    line-height: normal;
    margin: 0px;
    border: var(--border);
    padding: 15px;
    border-bottom: 0;
    background: var(--fondot);
    margin-bottom: 0px;
}
#tabs .activetab a span {
    color: #fafafa !important;
}
#tabs .activetab {
    background: var(--acento2);
    opacity: 1;
}
.inputbox {
    border: var(--border);
    background: var(--fondo1);
    border-radius: var(--border-radius);
}
p.pagination > a[href="javascript:Pagination();"], .pag-img, a.pag-img{
    display: none!important;
}
.remains-prier-post > i {
    height: 100%;
    width: 60px;
    background: var(--fondo1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    border-right: var(--border);
    color: var(--color1);
}
.remains-prier-post {
    border: var(--border);
    background: var(--fondo2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 0;
    height: 30px;
    text-transform: uppercase;
    color: var(--acento1);
    font-weight: 700;
    font-size: .65rem;
    letter-spacing: .5px;
}
.grecaptcha-badge {
    display: none !important;
}
html#sceditor_smilies ::-webkit-scrollbar {
    width: 8px !important;
    height: 5px !important;
    background: var(--fondo1);
    border-left: var(--border);
}

html#sceditor_smilies:: -webkit-scrollbar-thumb {
    background: linear-gradient(40deg, var(--gradient1), var(--gradient2));
}
